@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1190px;
    margin: 0 auto;
    padding: 0 24px;

}
body{
    background-image: url(../img/linear-map-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-height: 280px;
    font-family: "Rubik", sans-serif;
}
.head{
    padding-top: 33px;
    .container{
        .header-text{
            text-align: center;
            h1{
                font-weight: 500;
                font-size: 32px;
                line-height: 94%;
                letter-spacing: -0.01em;
                color: #fff;
                margin-bottom: 31px;
            }
            .content{
                margin: 0 auto;
                display: flex;
                align-items:center;
                width: 100%;
                max-width: 555px;
                background-color: #fff;
                padding: 0 0 0 24px;
                border-radius: 15px;
                
                    box-shadow: 0 50px 50px -25px rgba(0, 0, 0, 0.1);
                .link{
                    display: flex;
                    justify-content: space-between;
                    max-width: 555px;
                    input{
                        outline: none;
                        font-weight: 400;
                        font-size: 18px;
                        color: #2c2c2c;
                        opacity: 0.5;
                        // width: 100%;
                        border: none;
                        width: 300px;
                    }
                }
                .input-arrow{
                    background-color: black ;
                    padding: 22px 26px;
                    max-width: 58px;
                    border-radius:0px 15px 15px 0;
                    transition: 0.4s ease;
                    transform: translateX(173px);

                    a{
                        img{
                            display: flex;
                            align-items: center;
                        }
                    }
                    &:hover{
                    background-color: #3F3F3F;
                    }
                }
            }
            .content:focus-within{ 
                border: 3px solid black;
            }
        }
        .cards{
            .card-content{
                display: flex;
                max-width: 1110px;
                background-color: #fff;
                padding: 37px 67px 32px 37px;
                box-shadow: 0 50px 50px -25px rgba(0, 0, 0, 0.1);
                background: #fff;
                justify-content: space-between;
                border-radius: 15px;
                transform: translateY(40px);
                gap: 32px;
                .address{
                    display: flex;
                    flex-direction: column;
                    gap: 13px;
                    max-width: 213px;
                    align-items: start;
                    p{
                        font-weight: 700;
                        font-size: 12px;
                        letter-spacing: 0.15em;
                        text-transform: uppercase;
                        color: #2c2c2c;
                        opacity: 0.5;
                    }
                    h2{
                        font-weight: 500;
                        font-size: 26px;
                        line-height: 115%;
                        letter-spacing: -0.01em;
                        color: #2c2c2c;
                    }
                }
                .line{
                    width: 1px;
                    height: 75px;
                    background: #000;
                    opacity: 0.15;
                }
                .location{
                    display: flex;
                    flex-direction: column;
                    gap: 13px;
                    align-items: start;
                    p{
                        font-weight: 700;
                        font-size: 12px;
                        letter-spacing: 0.15em;
                        text-transform: uppercase;
                        color: #2c2c2c;
                        opacity: 0.5;
                    }
                    h2{
                        font-weight: 500;
                        font-size: 26px;
                        line-height: 115%;
                        letter-spacing: -0.01em;
                        color: #2c2c2c;
                        max-width: 220px;
                        display: flex;
                        align-items: start;
                    }
                }
                .timezone{
                    display: flex;
                    flex-direction: column;
                    gap: 13px;
                    align-items: start;
                    p{
                        font-weight: 700;
                        font-size: 12px;
                        letter-spacing: 0.15em;
                        text-transform: uppercase;
                        color: #2c2c2c;
                        opacity: 0.5;
                    }
                    h2{
                        font-weight: 500;
                        font-size: 26px;
                        line-height: 115%;
                        letter-spacing: -0.01em;
                        color: #2c2c2c;
                    }
                }
                .isp{
                    display: flex;
                    flex-direction: column;
                    gap: 13px;
                    align-items: start;
                    max-width: 213px;
                    p{
                        font-weight: 700;
                        font-size: 12px;
                        letter-spacing: 0.15em;
                        text-transform: uppercase;
                        color: #2c2c2c;
                        opacity: 0.5;
                    }
                    h2{
                        font-weight: 500;
                        font-size: 26px;
                        line-height: 115%;
                        letter-spacing: -0.01em;
                        color: #2c2c2c;
                        max-width: 200px;
                    }
                }
            }
       }
    }
}

@media (max-width:779px) {
    body{
        max-height: 300px;
    }
    .container{
        padding: 0 24px;
    }
    .head{
        padding-top: 26px;
        .container{
            .header-text{
                h1{
                    font-weight: 500;
                    font-size: 26px;
                    line-height: 115%;
                    letter-spacing: -0.01em;
                    margin-bottom: 29px;
                }
                .content{
                    width: 100%;
                    padding: 0 0 0 22px;
                    .link{
                        max-width: 555px;
                        width: 100%;
                        input{
                            outline: none;
                            font-weight: 400;
                            font-size: 14px;
                            opacity: 0.5;
                            border: none;
                        }
                    }
                    .input-arrow{
                        padding: 22px 26px;
                        max-width: 58px;
                        transform: translateX(1px);
                    }
                }
                .content:focus-within{ 
                    border: 3px solid black;
                }
            }
            .cards{
                .card-content{
                    display: flex;
                    padding: 26px 24px;
                    transform: translateY(40px);
                    flex-direction: column;
                    gap: 32px;
                    .address{
                        gap:7px;
                        align-items: center;
                        margin: 0 auto;
                        p{
                            font-weight: 700;
                            font-size: 10px;
                            letter-spacing: 0.15em;
                            text-align: center;
                        }
                        h2{
                            font-weight: 500;
                            font-size: 20px;
                            line-height: 115%;
                            letter-spacing: -0.01em;
                            color: #2c2c2c;
                            max-width: 279px;
                        }
                    }
                    .line{
                        display: none;
                    }
                    .location{
                        gap:7px;
                        align-items: center;
                        margin: 0 auto;
                        p{
                            font-weight: 700;
                            font-size: 10px;
                            letter-spacing: 0.15em;
                            text-align: center;
                        }
                        h2{
                            font-weight: 500;
                            font-size: 20px;
                            line-height: 115%;
                            letter-spacing: -0.01em;
                            color: #2c2c2c;
                            max-width: 279px;
                        }
                    }
                    .timezone{
                        gap:7px;
                        align-items: center;
                        margin: 0 auto;
                        p{
                            font-weight: 700;
                            font-size: 10px;
                            letter-spacing: 0.15em;
                            text-align: center;
                        }
                        h2{
                            font-weight: 500;
                            font-size: 20px;
                            line-height: 115%;
                            letter-spacing: -0.01em;
                            color: #2c2c2c;
                            max-width: 279px;
                        }
                    }
                    .isp{
                        gap:7px;
                        align-items: center;
                        margin: 0 auto;
                        p{
                            font-weight: 700;
                            font-size: 10px;
                            letter-spacing: 0.15em;
                            text-align: center;
                        }
                        h2{
                            font-weight: 500;
                            font-size: 20px;
                            line-height: 115%;
                            letter-spacing: -0.01em;
                            color: #2c2c2c;
                            max-width: 279px;
                        }
                    }
                }
           }
        }
    }
   
}